---
import Section from "./Section.astro";
import type { SkillsProps } from "@types";

interface Props {
  skills: SkillsProps;
}

const { skills } = Astro.props;
---

<Section text="Skills" href="skills">
  <div class="flex flex-wrap gap-2">
    {
      skills.items.map((skill) => (
        <span class="rounded-md bg-neutral/10 px-3 py-1.5 text-sm text-neutral">
          {skill}
        </span>
      ))
    }
  </div>
</Section>

